<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

    <%- include('partials/header') %>

    <%- include('partials/lefter') %>
    <div class="container">
        <aside>
            <nav></nav>
        </aside>
        <aside>
            <nav></nav>
        </aside>
    </div>
    <main>
        <%- body %>
    </main>

    <%- include('partials/footer') %>

</body>
</html>
